# VSCode
**/.vscode/
**/.vs/

# Package files
**/package-lock.json

# Non-npm lockfiles
**/pnpm-lock.yaml
**/yarn.lock
**/deno.lock
**/bun.lockb
**/bun.lock

# Dependencies
**/node_modules/
!Plugins/
!Plugins/Discord/
!Plugins/Discord/plugin/
!Plugins/Discord/plugin/node_modules/
!Plugins/Discord/plugin/node_modules/discord-rpc/
!Plugins/Discord/plugin/node_modules/discord-rpc/**
Plugins/Discord/plugin/node_modules/*
!Plugins/Discord/plugin/node_modules/discord-rpc/
!Plugins/Discord/plugin/node_modules/discord-rpc/**

# Build outputs
**/build/
**/dist/
**/*.build/
**/out/


**/log/

**/.gitignore
**/log.txt